# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
epanet_valve_optim_wisl09
epanet2

# Compiled Static libraries
*.lai
*.la
*.a
Output-20*.csv
output.csv
# Log files
*.log

# Doxygen output
doxygen_out/

#node modules
node_modules/

# Mac Stuff
.DS_Store
*.swp
*~.nib
*.build/
DerivedData/
Debug/

*.xcodeproj/
!*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

*.c~
temp.out
*.out
en*
